<footer>
  <section class="footer-inner">
    <form action="/process-subscribe-form" method="POST" class="form subscribe shadow">
      <h3>Suscribite a noticias, próximos cursos y novedades</h3>
      <div class="form-control split-70-30 first-split">
        <input type="text" name="email" id="email" placeholder="e-mail" class="enable-on-load" disabled>
      </div>
      <div class="form-control split-70-30 last-split">
        <button class="btn enable-on-load" type="submit" disabled>Enviar</button>
      </div>
    </form>
  </section>

  <section class="credits">
    <div class="inner-credits">
      <div class="developed-by push-left">
        <span>Developed by</span>
        <a href="http://appsxxi.com/" target="_blank">
          <img src="/assets/appsxxi-logo.png" alt="AppsXXI Creative Software">
        </a>
      </div>
      <div class="designed-by push-right">
        <span>Designed by</span>
        <a href="https://tuserviciotech.wixsite.com/e5044" target="_blank">
          <img src="/assets/e-5044-logo.png" alt="AppsXXI Creative Software">
        </a>
      </div>
    </div>
  </section>
</footer>