<header>
  <nav class="header-nav">
    <span class="logo"><img src="/assets/logo.png" alt="Programación y Desarrollo Web"></span>

    <ul class="first-nav">
      <li class="nav-item">
        <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com"><i class="far fa-envelope"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com"><i class="fab fa-whatsapp"></i></a>
      </li>
      <li class="nav-item">
        <button class="btn">Inscribirme</button>
      </li>
    </ul>
  </nav>

  <section class="first-banner">
    <h1 class="title shadow">
      <span class="first-arrow">‹</span><span class="white-text">Curso de</span>
      <span class="yellow-text">Programación</span>
      <span class="yellow-text">y Desarrollo</span>
      <span class="white-text">WEB</span><span class="last-arrow">›</span>
    </h1>
    
    <form action="/process-more-info-form" class="form more-info shadow">
      <h3>Solicitar + Información</h3>
      <div class="form-control">
        <input type="text" placeholder="Nombre y Apellido">
      </div>
      <div class="form-control">
        <input type="text" placeholder="e-mail">
      </div>
      <div class="form-control split-50-50 first-split">
        <input type="text" placeholder="Teléfono/Celular">
      </div>
      <div class="form-control split-50-50 last-split">
        <button class="btn">Enviar</button>
      </div>
      <div class="form-message">
        <p>¡Te contactaremos a la brevedad!</p>
      </div>
    </form>

    <a href="#" class="continue btn btn-circular">›</a>
  </section>
</header>