<header>
  <nav class="header-nav">
    <span class="logo"><img src="/assets/logo.png" alt="Programación y Desarrollo Web"></span>

    <ul class="first-nav">
      <li class="nav-item">
        <a href="https://www.facebook.com/ProgramacionYDesarrolloWEB" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://wa.me/59891066416" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </li>
      <li class="nav-item">
        <a href="mailto:contacto@appsxxi.com" target="_blank"><i class="far fa-envelope"></i></a>
      </li>
      <li class="nav-item">
        <button class="btn">Inscribirme</button>
      </li>
    </ul>
  </nav>

  <section class="first-banner">
    <include src="templates/fragments/first-title.html"></include>
    
    <form action="/process-more-info-form" method="POST" class="form more-info shadow">
      <h3>Solicitar + Información</h3>
      <div class="form-control">
        <input type="text" placeholder="Nombre y Apellido">
      </div>
      <div class="form-control">
        <input type="text" placeholder="e-mail">
      </div>
      <div class="form-control split-50-50 first-split">
        <input type="text" placeholder="Teléfono/Celular">
      </div>
      <div class="form-control split-50-50 last-split">
        <button class="btn">Enviar</button>
      </div>
      <div class="form-message">
        <p>¡Te contactaremos a la brevedad!</p>
      </div>
    </form>

    <a href="#" class="continue btn btn-circular"><span>›</span></a>
  </section>
</header>