<div class="modal-outer" id="modal-container">
  <div class="modal-inner">
    <div class="modal" id="pre-roll-form-modal">
      <h2 class="modal-title">Pre inscripción</h2>

      <div class="modal-content">
        <p>¡Pre inscribite!</p>
        <p>Una vez pre inscripto nos comunicaremos con vos para formalizar el pago.</p>
        <form action="/process-inscription-form" method="POST" class="form">
          <div class="form-control">
            <input type="text" name="name" id="name" placeholder="Nombre">
          </div>
          <div class="form-control">
            <input type="text" name="lastname" id="lastname" placeholder="Apellido">
          </div>
          <div class="form-control split-50-50 first-split">
            <input type="text" name="document" id="document" placeholder="Cédula de Identidad">
          </div>
          <div class="form-control split-50-50 last-split">
            <input type="text" name="phone" id="phone" placeholder="Teléfono/Celular">
          </div>
          <div class="form-control">
            <input type="text" name="mail" id="mail" placeholder="e-mail">
          </div>
          <div class="form-control">
            <select name="group" id="group">
              <option value="-">-- Selecciona el grupo de tu preferencia --</option>
              <option value="mj-9-11">Martes y jueves de 9 a 11 AM</option>
              <option value="mv-1730-1930">Miércoles y viernes de 5:30 PM a 7:30 PM</option>
            </select>
          </div>
          <div class="form-control">
            <select name="payment" id="payment">
              <option value="-">-- Selecciona el medio de pago --</option>
              <option value="mp">Mercado Pago</option>
              <option value="banck">Depósito bancario</option>
              <option value="transfer">Giro Abitab o RedPagos</option>
            </select>
          </div>
          <div class="form-control split-50-50 first-split">
            <button class="btn" type="submit">Inscribirme</button>
          </div>
          <div class="form-control split-50-50 last-split">
            <button class="btn btn-outline" type="reset" data-close-modal>Cancelar</button>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- THe footer -->
      </div>
    </div>
  </div>
</div>