<div class="modal-outer" id="modal-container">
  <div class="modal-inner">
    <div class="modal" id="pre-roll-form-modal">
      <h2 class="modal-title">Pre inscripción</h2>

      <div class="modal-content">
        <p>¡Pre inscribite ahora!</p>
        <p>Reservá tu lugar e invitá a un amigo. Ambos recibirán un <strong>25% de descuento</strong> en el costo del curso.</p>
        <form action="/process-inscription-form" method="POST" class="form">
          <div class="form-control">
            <input type="text" name="name" id="name" placeholder="Nombre" required>
          </div>
          <div class="form-control">
            <input type="text" name="lastname" id="lastname" placeholder="Apellido" required>
          </div>
          <div class="form-control split-50-50 first-split">
            <input type="text" name="document" id="document" placeholder="Cédula de Identidad" required>
          </div>
          <div class="form-control split-50-50 last-split">
            <input type="text" name="phone" id="phone" placeholder="Teléfono/Celular" required>
          </div>
          <div class="form-control">
            <input type="email" name="email" id="email" placeholder="e-mail" required>
          </div>
          <div class="form-control">
            <select name="group" id="group" required>
              <option value="NO-GROUP-SELECTED">-- Selecciona el turno de tu preferencia --</option>
              <option value="GM-911">Por la mañana</option>
              <option value="GV-1719">Por la tarde</option>
            </select>
          </div>
          <div class="form-control highlighted">
            <input type="email" name="invite" id="invite" placeholder="Invitá a un amigo">
          </div>
          <div class="form-control split-50-50 first-split">
            <button class="btn" type="submit">Inscribirme</button>
          </div>
          <div class="form-control split-50-50 last-split">
            <button class="btn btn-outline" type="reset" data-close-modal>Cancelar</button>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <!-- THe footer -->
      </div>
    </div>
  </div>
</div>