@import '../variables';

@media only screen and (max-width: 960px) {
  .about-section {
    .inner-grid {
      position: relative;
      padding: 40px;
      padding-top: 80px;
      display: flex;
      flex-direction: column;

      .creativity {
        img {
          width: 100%;
          max-width: 100%;
        }
      }
      
      .content {
        h1.section-title {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          quotes: "‹" "›";
        }
        
        .title {
          width: auto;
          padding: 0;
          text-align: center;
          font-size: 32px;
          
          &:after {
            content: close-quote;
          }
          
          &.text-shadow {
            text-shadow: none;
            text-shadow: 1px 1px 1px #000;
          }
          
          .white-text {
            color: #000;
          }
        }

        p {
          color: $description-color;
          font-size: 18px;
          line-height: 1.5em;
        }
      }

      .section-footer {
        .course-footer {
          text-align: center;
          text-transform: uppercase;
          font-size: 28px;
          
          i {
            margin-right: 6px;
            font-size: 40px;
            color: #d6d4b5;
            top: 5px;
            display: inline-block;
            position: relative;
          }
          
          span {
            display: inline-block;
            line-height: 40px;
            height: 40px;

            &.arrow {
              font-size: 40px;
            }
            
            &.description {
              position: relative;
              color: $description-color;
            }
            
            &.icons {
              margin-top: 20px;
              display: flex;
              align-items: center;

              .icon {
                height: 45px;
                margin: 0 10px;
                
                img {
                  height: 100%;
                  max-height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}