@import '../variables';
@import 'about-responsive';

@media only screen and (min-width: 961px) {
  .about-section {
    .inner-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 80px;
      grid-row-gap: 20px;

      .creativity {
        img {
          width: 100%;
          max-width: 100%;
        }
      }
      
      .content {
        .title {
          width: auto;
          text-align: left;
          padding: 0;
          font-size: 48px;
          
          &.shadow {
            filter: none;
          }

          .first-arrow,
          .last-arrow {
            top: 3px;
          }
          
          .white-text {
            color: #000;
          }
        }

        p {
          color: $description-color;
          font-size: 18px;
          line-height: 1.5em;
        }
      }

      .section-footer {
        grid-column: 1 / 3;

        .course-footer {
          text-transform: uppercase;
          font-size: 28px;
          
          i {
            float: left;
            margin-right: 30px;
            font-size: 70px;
            color: $creativity-color;
          }
          
          span {
            display: inline-block;
            line-height: 70px;
            height: 70px;

            &.arrow {
              font-size: 40px;
            }
            
            &.description {
              position: relative;
              color: $description-color;
            }
            
            &.icons {
              float: right;
              display: flex;
              align-items: center;

              .icon {
                height: 45px;
                margin-left: 20px;
                
                img {
                  height: 100%;
                  max-height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}