@import '../variables';

@media only screen and (max-width: 960px) {
  footer {
    background-image: url(../assets/footer-background.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    box-shadow: inset 0px 5px 5px -5px rgb(0,0,0);

    .footer-inner {
      display: flex;
      width: 100%;
      max-width: $wide-width;
      padding: 40px;
      margin: auto;
      justify-content: center;
      align-items: center;

      form {
        width: 100%;
        max-width: 530px;
        
        h3 {
          margin: 0;
          font-family: 'Dinn Light Condensed';
          font-size: 24px;
          font-weight: normal;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
    
    .credits {
      background: #fff;
      
      .inner-credits {
        width: 100%;
        max-width: $wide-width;
        margin: auto;
        padding: 40px;
        overflow: hidden;
        
        .developed-by,
        .designed-by {
          span {
            margin-right: 10px;
            font-family: 'Gotham Book';
            font-size: 13px;  
          }
          
          img {
            max-height: 20px;
          }
        }
      }
    }
  }
}