@import '../variables';

footer {
  background-image: url(../assets/footer-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  .footer-inner {
    display: flex;
    width: $wide-width;
    padding: 80px;
    margin: auto;
    justify-content: center;
    align-items: center;

    form {
      h3 {
        margin: 0;
        font-family: 'Dinn Light Condensed';
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }
    
      width: 530px;
    }
  }
  
  .credits {
    background: #fff;
    
    .inner-credits {
      width: $wide-width;
      margin: auto;
      padding: 40px 80px;
      overflow: hidden;
      
      .developed-by,
      .designed-by {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
          font-family: 'Gotham Book';
          font-size: 13px;  
        }
        
        img {
          max-height: 20px;
        }
      }
    }
  }
}