@import '../variables';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 960px) {
  header {
    background-image: url(../assets/banner-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin: 0;
      padding-top: 7em;
      
      .logo {
        width: 120px;
        height: 120px;
        margin: auto;

        img {
          width: 100%;
        }
      }
      
      .first-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 1em;
        background-color: #fff;
        box-shadow: 0 -2px 10px 0 #000;

        .nav-item {
          position: relative;
          
          a {
            display: block;
            color: #000;
            width: $btn-height;
            height: $btn-height;
            line-height: $btn-line-height;
            font-size: $btn-font-size;
            text-align: center;
            background-color: $yellow-first;
            
            &:hover {
              position: relative;
              
            }
          }
          
          &.on-scroll {
            position: relative;
            
            a {
              position: relative;
              
            }
          }
        }
        
        &.scrolling {
          position: relative;
          
          .nav-item {
            position: relative;
            
            a {
              position: relative;
              
              &:hover {
                position: relative;
                
              }
            }
            
            &.no-on-scroll {
              position: relative;
              
            }
            
            &.on-scroll {
              position: relative;
              
              a {
                position: relative;
                
              }
            }
          }
        }
      }
    }
  
    .first-banner {
      position: relative;
      
      .form.more-info {
        position: relative;
        
        h3 {
          margin: 0;
          margin-bottom: .25em;
          color: $yellow-first;
          font-weight: normal;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;
        }
        
        .form-message {
          position: relative;

          p {
            text-align: center;
            color: #fff;
          }
        }
      }
      
      .btn.btn-circular {
        display: none;
        
        span {
          position: relative;
          
        }
      }
    }
  }
}
