@import '../variables';

@media only screen and (max-width: 960px) {
  .outer-section {
    .inner-section {
      position: relative;
      padding: 80px 40px;
      
      .content {
        h1.section-title {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
        }
        
        .methods {
          article.method {
            display: grid;
            grid-template-columns: 100px auto;
            grid-gap: 20px;
            margin-bottom: 40px;

            &:last-child {
              margin-bottom: 0;
            }

            .creativity {
              span {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }    
            }
            
            .description {
              h4 {
                margin: 0;
                margin-bottom: .5em;
                font-size: 28px;
                font-weight: normal;
                text-transform: uppercase;
              }
              
              p {
                font-family: 'Myriad Regular';
                font-size: 14px;
                color: $description-color;
              }
            }
          }
        }
      }
    }
  }
}