@import '../variables';
@import 'market-responsive';

@media only screen and (min-width: 961px) {
  .market-data {
    .inner-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;

      article {
        display: grid;
        grid-template-columns: 100px auto;
        grid-gap: 20px;

        .creativity {
          i {
            color: $creativity-color;
            font-size: 100px;
          }

          span.zero {
            display: flex;
            width: 100px;
            height: 100px;
            justify-content: center;
            padding-top: 8px;
            align-items: center;
            border: 15px solid $creativity-color;
            border-radius: 50%;
            font-size: 48px;
            
            span.value {
              font-weight: 600;
            }
            
            span.percent {
              font-size: 30px;
            }
          }
        }
        
        .content {
          h4 {
            margin: 0;
            margin-bottom: .5em;
            font-size: 30px;
            text-transform: uppercase;
          }
          
          p {
            font-family: 'Myriad Regular';
            font-size: 14px;
            color: $description-color;
          }
        }
      }
    }
  }
}