@import '../variables';

@media only screen and (max-width: 960px) {
  .course-modules {
    .inner-section {
      padding: 80px 40px;
      
      .content {
        .section-title {
          transform: translate(0, -50%);
          position: absolute;
          top: 0;
          left: 0;
        }

        .modules {
          margin-bottom: 40px;
          
          .module {
            position: relative;
            margin-bottom: 40px;
            
            &:after {
              content: "";
              display: none;
            }

            h3.module-title {
              margin: 0;
              margin-bottom: 1em;
              font-size: 23px;
              font-weight: normal;
              text-transform: uppercase;
            }

            p.module-description {
              font-size: 14px;
              color: $description-color;

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        .btn {
          float: none;
        }
      }
    }
  }
}