<section class="outer-section about-section">
  <div class="inner-section inner-grid">
    <div class="creativity">
      <img src="/assets/working-desk-image-2.jpg" alt="El objetivo es alcanzar la grandeza">
    </div>

    <div class="content">
      <h1 class="section-title">Sobre el curso</h1>
      
      <include src="templates/fragments/first-title"></include>
      <p>El Curso de Programación y Desarrollo WEB, está orientado a personas con conocimientos básicos en informática, sin conocimientos previos en programación y con mucha curiosidad por la tecnología.</p>
    </div>

    <div class="section-footer">
      <div class="course-footer">
        <i class="far fa-clock"></i>
        <span class="label">Duración del curso</span>
        <span class="arrow">›</span>
        <span class="description">4 meses / 2 días x semana / clases de 2 horas</span>
        
        <span class="icons">
          <span class="icon icon-git">
            <img src="/assets/icons/git.png" alt="">
          </span>
          <span class="icon icon-github">
            <img src="/assets/icons/github.png" alt="">
          </span>
          <span class="icon icon-html">
            <img src="/assets/icons/html.png" alt="">
          </span>
          <span class="icon icon-css">
            <img src="/assets/icons/css.png" alt="">
          </span>
          <span class="icon icon-js">
            <img src="/assets/icons/js.png" alt="">
          </span>
        </span>
      </div>
    </div>
  </div>
</section>