<section class="outer-section how-works">
  <div class="inner-section inner-grid">
    <div class="content">
      <h1 class="section-title">Como funciona</h1>

      <section class="methods">
        <article class="method">
          <div class="creativity">
            <span>
              <img src="/assets/icons/live-room.png" alt="Clases en vivo">
            </span>
          </div>
          <div class="description">
            <h4>Clases Online en vivo</h4>
            <p>Interactúa con el resto de estudiantes y con el docente, en clases en vivo</p>
          </div>
        </article>
    
        <article class="method">
          <div class="creativity">
            <span>
              <img src="/assets/icons/recorded.png" alt="Clases en vivo">
            </span>
          </div>
          <div class="description">
            <h4>Clases grabadas</h4>
            <p>Las clases se graban y se suben a la plataforma para que las puedas repetir</p>
          </div>
        </article>

        <article class="method">
          <div class="creativity">
            <span>
              <img src="/assets/icons/discussion.png" alt="Clases en vivo">
            </span>
          </div>
          <div class="description">
            <h4>Sesión de preguntas y respuestas</h4>
            <p>Todas las clases cuentan con una sesión de preguntas y respuestas</p>
          </div>
        </article>

        <article class="method">
          <div class="creativity">
            <span>
              <img src="/assets/icons/portfolio.png" alt="Clases en vivo">
            </span>
          </div>
          <div class="description">
            <h4>Construcción de portfolio</h4>
            <p>Construirás tu portfolio digital durante el curso, para saltar al mercado por tu cuenta</p>
          </div>
        </article>

        <article class="method">
          <div class="creativity">
            <span>
              <img src="/assets/icons/community.png" alt="Clases en vivo">
            </span>
          </div>
          <div class="description">
            <h4>Plataforma de comunicación</h4>
            <p>Encontrá material extra, subí tus trabajos y comentá con docentes y estudiantes</p>
          </div>
        </article>

        <article class="method">
          <div class="creativity">
            <span>
              <img src="/assets/icons/platform.png" alt="Clases en vivo">
            </span>
          </div>
          <div class="description">
            <h4>Plataforma de contenidos</h4>
            <p>Mirá todas las clases previas grabadas en la plataforma, dejá tus preguntas y debatí tus dudas</p>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>