<section class="outer-section market-data">
  <div class="inner-section inner-grid">
    <article class="needs">
      <div class="creativity">
        <i class="fas fa-chart-bar"></i>
      </div>
      <div class="content">
        <h4>Necesidades de mercado</h4>
        <p>Un mercado en crecimiento constante y exponencial. La capacitación en el área es necesaria para crecer.</p>
        <p>La competencia mejora las condiciones y las necesidades son cada vez más altas.</p>
      </div>
    </article>

    <article class="employ-area">
      <div class="creativity">
        <span class="zero">
          <span class="value">0</span>
          <span class="percent">%</span>
        </span>
      </div>
      <div class="content">
        <h4>Desempleo en el área</h4>
        <p>Una de las únicas, sino la única área con desempleo cero, donde la oferta supera a la demanda.</p>
        <p>Mientras la oferta de empleo decrece en general, la oferta a programadores crece año a año.</p>
      </div>
    </article>

    <article class="employ-salary">
      <div class="creativity">
        <i class="fas fa-search-dollar"></i>
      </div>
      <div class="content">
        <h4>Promedio salarial</h4>
        <p>Uno de los empleos mejor pagos, de mayor crecimiento salarial y mayor competitividad.</p>
        <p>Es el rubro de mayor crecimiento, tanto laboral como salarial como en los últimos 10 años.</p>
      </div>
    </article>
  </div>
</section>