<section class="outer-section section-grey course-modules">
  <div class="inner-section">
    <div class="content">
      <h1 class="section-title">Módulos generales</h1>
      
      <div class="modules">
        <div class="module">
          <h3 class="module-title">
            Git y GitHub
          </h3>
          <p class="module-description">
            Git es una --sino la-- herramienta de control de versiones, útil para cualquier área, pero fundamental y necesaria para los programadores.
          </p>
          <p class="module-description">
            GitHub es un servidor de repositorios para alojar proyectos de Git.
          </p>
        </div>

        <div class="module">
          <h3 class="module-title">
            Desarrollo WEB con HTML y CSS
          </h3>
          <p class="module-description">
            La WEB entera está escrita en HTML y CSS, donde el HTML representa el significado de su contenido y CSS representa los aspectos visuales de los elementos.
          </p>
        </div>

        <div class="module">
          <h3 class="module-title">
            Desarrollo WEB Responsive
          </h3>
          <p class="module-description">
            El Desarrollo WEB Responsive es la capacidad de un sitio web de adaptarse a diferentes tamaños de pantalla. Querés que tu sitio se vea correctamente en un teléfono? Sé Responsive!
          </p>
        </div>
        
        <div class="module">
          <h3 class="module-title">
            Programación con JavaScript
          </h3>
          <p class="module-description">
            Qué sería de la web sin interacción? El usuario es el objetivo y la interacción es una pieza fundamental para captar su atención.
          </p>
          <p class="module-description">
            Programa desde interacciones básicas hasta complejas aplicaciones con JavaScript.
          </p>
        </div>
        
        <div class="module">
          <h3 class="module-title">
            NodeJS y Express
          </h3>
          <p class="module-description">
            JavaScript ya no sólo del lado del cliente, sino en todos lados. Ahora con NodeJs podemos programar todo, aplicaciones, servidores y mucho más.
          </p>
          <p class="module-description">
            Con ExpressJS llevamos Node a otro nivel, programar un servidor web nunca fue más sencillo.
          </p>
        </div>
      </div>

      <button class="btn push-right">Inscribirme</button>
    </div>
</section>