<section class="outer-section section-grey course-objectives">
  <div class="inner-section inner-grid">
    <div class="content">
      <h1 class="section-title">Objetivos del curso</h1>
      
      <ul class="objectives">
        <li>Instruir a los estudiantes en un área de máxima demanda</li>
        <li>Incentivar el descubrimiento por la programación y las tecnologías</li>
        <li>Conocer en profundidad como está construido Internet</li>
        <li>Proveer de las herramientas para el desarrollo de habilidades como el pensamiento crítico, el márketing digital y el uso de herramientas online</li>
      </ul>

      <button class="btn enable-on-load" data-modal="pre-roll-form-modal" disabled>Inscribirme</button>
    </div>

    <div class="creativity">
      <img src="/assets/working-desk-image.jpg" alt="El objetivo es alcanzar la grandeza">
    </div>
  </div>
</section>