<section class="outer-section section-grey course-teachers">
  <div class="inner-section">
    <div class="content">
      <h1 class="section-title">Sobre el docente</h1>
      
      <div class="teachers">
        <div class="teacher">
          <div class="picture-profile">
            <div class="picture">
              <img src="/assets/teacher-profile-picture.jpg" alt="Miguel Angel Sosa">
            </div>
            <h3 class="teacher-name">
              Miguel Angel Sosa
            </h3>
          </div>

          <div class="teacher-bio">
            <q>
              Soy un entusiasta, autodidacta, dedicado al aprendizaje y la enseñanza desde hace más de 10 años.
              Trabajo como desarrollador WEB UI en la industria del software desde hace el mismo tiempo y he dedicado mi tiempo a aprender y aplicar
              las diferentes tecnologías que se enseñan en este curso, y muchas más.
              <br><br>
              Comencé en el año 1999 y desde entonces no he parado de aprender. He trabajado en varios insitutos y empresas de la industria del
              software, en los cuales he aprendido no sólo de tecnologías, pero también sobre el trabjao en equipo, la colaboracion y el valor de compartir.
              De todas las experiencias he aprendido algo, pero lo más importante es que compartiendo conocimiento se genera experiencia, más
              conocimiento y se desarrollan habilidades de pensamiento crítico, destacando el debate como una de las mejores herramientas para el
              aprendizaje.
            </q>

            <div class="teacher-info-footer">
              <ul class="social-networks-nav">
                <li class="nav-item">
                  <a href="https://github.com/Miguelslo27"><i class="fab fa-github"></i></a>
                </li>
                <li class="nav-item">
                  <a href="https://twitter.com/Mikesanse"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                  <a href="https://www.instagram.com/mikesan2/"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                  <a href="mailto:miguel.sosa@appsxxi.com"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
              <button class="btn push-right enable-on-load" data-modal="pre-roll-form-modal" disabled>Inscribite</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>