@import '../variables';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 960px) {
  .title {
    position: relative;
    quotes: "‹" "›";
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    line-height: .9em;
    margin: 1em 0;
    
    &:before,
    &:after {
      position: relative;
      top: 3px;
      color: $yellow-first;
      font-size: $banner-title-arrows-size;
    }
    
    &:before {
      content: open-quote;
      left: 8px;
    }
    
    &:after {
      content: close-quote;
      right: 8px;
    }
  }
}