@import '../variables';

.title {
  width: 650px;
  font-size: $banner-title-size;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: .9em;
  margin: 0;
  margin-bottom: .5em;
  
  .first-arrow,
  .last-arrow {
    position: relative;
    top: $banner-title-arrows-top-separation;
    color: $yellow-first;
    font-size: $banner-title-arrows-size;
  }
}