@import '../variables';
@import 'first-title-responsive';

@media only screen and (min-width: 961px) {
  .title {
    width: 680px;
    position: relative;
    quotes: "‹" "›";
    font-size: $banner-title-size;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    line-height: .9em;
    margin: .3em 0;
    
    &:before,
    &:after {
      position: relative;
      top: $banner-title-arrows-top-separation;
      color: $yellow-first;
      font-size: $banner-title-arrows-size;
    }
    
    &:before {
      content: open-quote;
      left: 15px;
    }
    
    &:after {
      content: close-quote;
      right: 15px;
    }
  }
}